<div>
    <div class="bg-dark bg-gradient m-5 p-5">
      <div class="bg-light">
    
    <div class="m-2" id="FORM">
      <h1 class="text-center">Registration Form</h1>
    <form #ref="ngForm" (ngSubmit)="addUserData(ref)" class="m-2">
      <div class="row m-1">
           <div class="col-4">
                <label for="FN" class="form-label">FirstName</label>
           </div>
           <div class="col-8">
                <input type="text" name="FirstName" id="FN" class="form-control" ngModel>
           </div>
      </div>
      <div class="row m-1">
        <div class="col-4">
             <label for="LN" class="form-label">LastName</label>
        </div>
        <div class="col-8">
             <input type="text" name="LastName" id="LN" class="form-control" ngModel>
        </div>
   </div>
   <div class="row m-1">
        <div class="col-4">
             <label for="EM" class="form-label">Email</label>
        </div>
        <div class="col-8">
             <input type="email" name="Email" id="EM" class="form-control" ngModel>
        </div>
   </div>
   <div class="row m-1">
        <div class="col-4">
             <label for="PN" class="form-label">PhoneNumber</label>
        </div>
        <div class="col-8">
             <input type="number" name="PhoneNumber" id="PN" class="form-control" ngModel>
        </div>
   </div>
   <div class="row m-1">
        <div class="col-4">
             <label for="PW" class="form-label">Password</label>
        </div>
        <div class="col-8">
             <input type="password" name="Password" id="PW" class="form-control" ngModel>
        </div>
   </div>
   <br>
  <button type="submit" class="d-block mx-auto btn btn-success px-2 py-2 m-1">SUBMIT</button>
  <br>
 </form>
 </div>
 </div>
 </div>
 </div>
 
 <!-- Accordion -->
 <div *ngIf="!bool">
    <h3 class="text-center"><i class="fas fa-search"></i>NO USERS!!</h3>
    <hr>
  
  </div>
  <div *ngIf="bool">
    <h3 class="text-center"><i class="fas fa-list"></i> LIST OF USERS</h3>
    <div class="container">
         <div class="accordion"  id="acrd">
              <div class="accodion-item border border-3 border-dark m-3"  *ngFor="let i of Users;let ind=index">
                  <div class="accordion-header">
                      <button class="accordion-button bg-dark text-white" data-bs-toggle="collapse" [attr.data-bs-target]="'#test'+ind">User -{{ind+1}}</button>
                   </div>
                      <div class="accordion-collapse collapse" [attr.id]="'test'+ind" data-bs-parent="#acrd"> 
                   <div class="accordion-body bg-light">
                        <h5>FirstName    : {{i.FirstName}}</h5>
                        <h5>LastName     : {{i.LastName}}</h5>
                        <h5>Email        : {{i.Email}}</h5>
                        <h5>PhoneNumber  : {{i.PhoneNumber}}</h5>
                        <div class="text-end">
                             <button (click)="Del(ind)" class="btn btn-danger"><i class="fas fa-trash text-dark"></i> Delete</button>
                           </div>
                   </div>
                  </div>
              </div>
    </div>
    </div>
  </div>